header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .btn-primary {
    background: black;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #1b89bc;
    text-decoration: none;
    font-size: 100%;
  }
  
  .btn-primary:hover {
    color: #065b83;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
  }
  
  .justify-space-between{
    justify-content: space-between;
  }